<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://api-maps.yandex.ru/3.0/?apikey= ТУТ ТВОЙ КЛЮЧ &lang=ru_RU"></script>
    <script src="https://api-maps.yandex.ru/2.1/?apikey= ТУТ ТВОЙ КЛЮЧ &lang&lang=ru_RU" type="text/javascript"></script>
    <script src="static/js/game.js"></script>
</head>
<body>
<h1>GeogesRu</h1>
<div id="mainText">
    Попробуй отгадать место РОДИНЫ по панораме!
</div>
    <div id="panorama2" style="width: 600px; height: 400px"></div>
    <div id="map2" style="width: 600px; height: 400px"></div>
    <button id="resButton">Проверить результат</button>
</body>
</html>
